.overall-page { 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  color:black;
  z-index: 1;
}

.overall-msg {
  font-size: 30px;
  font-weight: 600;
  z-index: 1;
}

.overall-count {
  z-index: 1;
font-size: 50px;

font-weight: 700;
}

.bottle{ 
  background-image: url(../../images/bottle.gif);
  background-position-x: 375px;
  background-size: cover;
  height: 690px;
  width: 250px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}

.overall-link {
  z-index: 1;
  display: block;
  height: 500px;
  width: 100%;  

}
