
.user-edit-container{
  background: rgba(218, 246, 255, 0.74);  
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  margin: auto;
  border: solid black 1px;
  padding: auto;
  
}

.edit-message{
  width: 500px;
  font-size: 30px;
  font-weight: 700;
  background-image: url(../../images/waterlight.gif);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-edit-greeting{
  width: 500px;
  font-size: 50px;
  color: #79a3b1;
}

.user-edit-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: auto;
}


.user-edit-form > *{
  width: 500px;
  font-size: 30px; 
  margin-top: 30px;
  color: #000000;
 /* font-family: 'Fredericka the Great', cursive; */

}

.edit-goals{
  width: 500px;
  
}

.edit-goal-input{
height: 50px;
font-size: 30px;
width: 500px;
color: #79a3b1;
background: white;
opacity: 1;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


}

.edit-bio{
  width: 500px;
}
.edit-bio-textarea{
  height: 50px;
  font-size: 30px;
  color: #79a3b1;
  min-width: 500px;
  min-height: 160px;
  max-height: 625px;
  max-width: 650px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.edit-bio-textarea, .edit-goal-input{
  padding: 10px;
  margin: 15px;
}
.edit-submit-button-container{
  width: 500px;
}

.edit-submit-button{
  width: 500px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}