html{
  background: #fffdf7;  
}


button{
  outline: none;
}

.demoLogin{
  background: none;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid black;
    /* border-radius: 24px; */
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
    background: #79a3b1;
    margin-right: 20px;
}
.demoLogin:hover, .session-submit:hover{ 
  color:#ffffff;
  transition: .1s ease-in-out;
    transform: scale(1.03) perspective(1px);
  background: linear-gradient(124deg, #456268, #456268, #79a3b1, #d0e8f2, #79a3b1);
  background-size: 1800% 1800%;
  
  animation: rainbow 8s ease infinite;}
  
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  .login-signup, .login-modal-button{
    z-index: 2;
  }
  .login-form-container {
    display: flex;
    justify-content: center;
   
  }
  
  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .login-input, .signup-input {
    border: .5px solid #fffdf7;    
    color: #456268;
    transition: border 200ms ease-out,background 200ms ease-out;
    box-shadow: 0 1px 4px 0 rgba(37, 37, 37, 0.287) inset; 
    border-color: #0000001a;
    border-style: solid;
    
    border-width: 1px;
    /* border-radius: 6px; */
    font-size: 16px;
    line-height: 28px;
    height: 28px;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;   
   background-color: #d0e8f2;
   width: 84%; 
  }
  .login-input:hover, .signup-input:hover{
   box-shadow: 0 1px 4px 0 rgba(37, 37, 37, 0.404) inset; 
   border-color: #000000(0, 0, 0, 0.883);
   border-style: solid;
   border-width: 1px;
  } 


  
  
  .login-form-box {
    box-shadow: 0 6px 36px rgba(0, 0, 0, 0.034); 
    /* background: #fffdf7; */
    background: #ffffff;
    padding: 28px;
    padding-bottom: 38px;
    padding-left: 38px;
    border-radius: 5px;
    border: 2px ;
    font-size: larger;
    border: black solid 1px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1px;  
    position: relative;
    margin: auto;
    max-width: 580px;
    width: 300px;
    z-index: 10;    
    margin-bottom: 20px;
  }
  
  .header-link {
    text-decoration: none;
    color: #456268;
  }
  
  .welcome-name{
   
      font-weight: 300;
      letter-spacing: 0.5px;
      font-size: 32px;
      line-height: 36px;
      color: #456268;
  }
  
  hr {
    border-bottom: 1px solid grey;
  }
  
  .session-submit {
    background: none;
    outline: none;
    border: black solid 1px;
    color: #ffffff;
    cursor: pointer;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    
    /* border-radius: 24px; */
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
    background: #79a3b1;
   margin-right: 20px;
  }
  
  .topOfForm{
    display: flex;
    justify-content: space-between;
  }
  
  .otherForm {
    cursor: pointer;
    text-align: center;
    top: 0; 
    /* left: -20px;    */
    font-size: 13px;
    height: 18px;
    min-width: 51px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid #456268 2px;
    position: relative;
  }
  
  .otherForm:hover{
    background:none;
    border: solid #456268 2.5px;
    box-shadow: 0 2px 5px rgba(25, 25, 26, 0.4);
  }
  
  .session-submit{
    cursor:pointer;
    font: 16px;
  }
    
.sign-in-text{
  min-width: 102px;
}

  .login-signup {
    display: flex;
    float: right;
    cursor:pointer;
    font-size: 30px;
     font-family: 'Fredericka the Great', cursive;
     
  }

  .modal-background {
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4562685d;
    z-index: 11;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .modal-child {
    border-top: 10px solid transparent;
    position: absolute;
     z-index: 11;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }

  .modal-close-container{
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    color: #ffffff;
    z-index: 11;
    margin: auto;
    width: 300px;
    position: relative;
    margin: auto;
    max-width: 880px;
    height: 50PX;   
    @media (max-width: 900px){
    }
  }

.modal-close{  
  position: absolute;
  right: -5%;
  text-align: center;
  text-align-last: center;
  height: 50px;
  width: 50px;
  font-size: 31px;
  cursor: pointer;

}

.modal-close::before, .modal-close::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 30px;    
}
  .modal-close::after{    
      box-shadow: inset 0 0 0 0px #82a9b1;
      background:#77a7b107 ;
    }
    .modal-close::before{     
      background:#45626800 ;
      box-shadow: inset 0 0 0 30px #95b2b800;

    }
    .modal-close:hover::before{  
      box-shadow: inset 0 0 0 0px#456268;
    }

.modal-text{
  color: #456268;
  text-align: left;
}
  
  #currentForm{
    font-size: 40px;
    color: #456268;
  }


 .login-signup {
  border: 1px solid #000;
  line-height: 40px;
  display: inline-block;
  padding: 20px 200px;
  position: relative;
  overflow: hidden;
  z-index: 9;
  background: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.login-signup::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #d0e8f2;
  z-index: -1;
}
@keyframes drop {
  0% {
    top: -15px;
  }
  60% {
    height: 15px;
    border-radius: 50%;
    left: 50%;
    width: 15px;
    top: calc(100% - 10px);
  }
  80% {
    top: calc(100% - 5px);
    width: 100%;
    left: 0;
    border-radius: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    left: 0;
    border-radius: 0;
    bottom: 0;
    top: initial;
    height: 30px;
    animation-delay: 120s;
    opacity: 0;
  }
}
.login-signup:hover::before {
  animation: drop 0.5s linear;
}
.login-signup::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0px;
  height: 0%;
  width: 100%;
  border-radius: 0%;
  background: #d0e8f2;
  z-index: -1;
}
.login-signup:hover::after {
  height: 100%;
  transition: all 0.4s linear;
  transition-delay: 0.5s;
}
.login-signup:hover {
  color: #fff;
  transition: all 0.4s linear;
  transition-delay: 0.5s;
}

.loaderwave2 {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 150px;
    text-transform: uppercase;
    font-size: 18em;
    color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
    background-image: url("https://www.tutorialscan.com/wp-content/uploads/2019/10/water-flowbg.png");
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: left 0px top 188px;
    }
    40%
    {
        background-position: left 799px top -20px;
    }
    80%
    {
        background-position: left 1799px top -20px;
    }
    100%
    {
        background-position: left 2399px top 189px;
    }
 
}

.register-btn{
  background: none;
  border: none;
  outline: none;
  color: #79a3b1;
  width: 504px;
  text-align: center;
}

.register-btn:hover{
  color: #d0e8f2;
}
