.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgb(16, 82, 124);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(246, 236, 218);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {  
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(16, 82, 124);
  color: rgb(246, 236, 218);
  padding: 10px 15px;
  border: none;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;  
  position: fixed;
  z-index: 3;  
}

.openbtn:hover {
  background-color: rgb(28, 100, 145);
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
}
/* .logout{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10%;
  
} */
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.closebtn{
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgb(16, 82, 124);
  color: rgb(246, 236, 218);
  cursor: pointer;
}

.closebtn:hover{
color: white
}

.logout {
  border: 1px solid #000;
  line-height: 40px;
  display: inline-block;
  padding: 20px 90px;
  position: relative;
  overflow: hidden;
  z-index: 9;
  background: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 100px;
  width: 260px;
}
.logout::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #d0e8f2;
  z-index: -1;
}
@keyframes drop {
  0% {
    top: -15px;
  }
  60% {
    height: 15px;
    border-radius: 50%;
    left: 50%;
    width: 15px;
    top: calc(100% - 10px);
  }
  80% {
    top: calc(100% - 5px);
    width: 100%;
    left: 0;
    border-radius: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    left: 0;
    border-radius: 0;
    bottom: 0;
    top: initial;
    height: 30px;
    animation-delay: 120s;
    opacity: 0;
  }
}
.logout:hover::before {
  animation: drop 0.5s linear;
}
.logout::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0px;
  height: 0%;
  width: 100%;
  border-radius: 0%;
  background: #d0e8f2;
  z-index: -1;
}
.logout:hover::after {
  height: 100%;
  transition: all 0.4s linear;
  transition-delay: 0.5s;
}
.logout:hover {
  color: #fff;
  transition: all 0.4s linear;
  transition-delay: 0.5s;
}