.terra-page {
  background: rgb(195, 210, 215);
  width: 100%;
  min-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  /* height: 100vh; */
}

.welcome-mes {
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 50px;
  /* color: rgb(237, 242, 244); */
  color: #fff;
display: flex;
}

.im-the-terra img {
  background-size:cover;
  padding-bottom: 0px;
  /* box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25); */
}

.im-the-terra {
  width: 600px;
  height: auto;
}

.im-shelf {
  background: url("../../images/shelf03.png") center no-repeat;;
  width: 1340px;
  height: 65px;
  margin-top: 0px;
  padding-top: 0px;
  /* margin-bottom: 70px; */
  /* position: relative; */
}
/* .on-shelf {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

/* new edit */ 
.on-shelf {
  display: flex;
  align-items: flex-end;
}


/* terra status frame */
/* deleted margin top and changed height to 60% */
.status-terra-con{
  margin-left: 80px;
  font-size: 30px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  background-color:#fff;
  border:solid 4vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 2px 0 rgba(0,0,0,.25) inset, 0 2px 5px 2px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  height: 70%;
  padding:5vmin;
  position:relative;
  text-align:center;
}


.status-terra-con:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
.status-terra-con:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
}

.stat-innerbox {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.terra-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.terra-row p {
  padding: 10px;
  margin: 0px;
}

.row-number {
  width: 30px;
}


.terra-btn-con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}
.water-btn {
  font-family: 'Fredericka the Great', cursive;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 30px;
  padding: 5px 12px;
  margin-right:5px ;
  margin-left: 5px;
  z-index: 2;
  border-radius: 5px;
}

.water-btn:hover {
  color: rgb(79, 170, 167);
  background-color: #fff;
  border-color: rgb(79, 170, 167);
  transition: 0.5s;
}
button {
  cursor:pointer;
}

.inc-goal{
background: none;
background-image: url('../../images/uparrow.png');
background-size: cover;
height: 60px;
width: 60px;
border: none;
z-index: 2;
}

.dec-goal{
  z-index: 2;
  background: none;
  background-image: url('../../images/uparrow.png');
  background-size: cover;
  height: 60px;
  width: 60px;
  border: none;
  transform: rotate(180deg);
}

.upDown{ 
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.terra-row > p{
  font-weight: 900;
}

.bonus {
  color: green;
}

.info-link{
  display: flex;
}

.info-container{
  display: flex;
}


.fa-info-circle{
  font-size: 30px;
  color: #ffffff;
  top: 0;

}

a:link{
  text-decoration: none;
}




.tooltip {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 31.5px;
 }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  color: rgba(255, 255, 255, 0.801);
  text-align: center;
  font-size: 20px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 0;
  bottom: 10%;
  left: 50%;
  margin-left: 20px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}