.water-tracker-container{
  background: rgb(151, 159, 169);
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  width: 100%;
  min-height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.water-info-container{
  display: flex;
}

.water-tracker-header{
  margin: 90px;
  margin-top: 30px; 
  display: flex;
}
.water-fa-info-circle{
  font-size: 30px;
  color: rgb(249, 236, 214);
}

.water-tool-tip{
  opacity: 0;
  width: 30px;
  height: 31.5px;
}

.fa-info-circle:hover .water-tool-tip{
  background: white;
  opacity: 1;
}

.water-tooltip {
  position: relative;
  display: inline-block;
 }

/* Tooltip text */
.water-tooltip .water-tooltiptext {
  visibility: hidden;
  width: 50px;
  color: rgba(248, 240, 226, 0.774);
  text-align: center;
  font-size: 20px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 66%;
  left: 45%;
  margin-left: 20px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.water-tooltip:hover .water-tooltiptext {
  visibility: visible;
  opacity: 1;
}


.wt-header-title{
  font-size: 60px;
  font-weight: 700;
  color: rgb(249, 236, 214);
}

.two-of-items1 {
  display: flex;
  justify-content: space-between;
  min-width: 1000px;
  text-align: center;
}
.two-of-items2 {
  display: flex;
  justify-content: space-between;
  min-width: 1000px;
  text-align: center;
}
/* terr-title-text */
.wt-terrarium-title{
  margin: 20px;
  display: flex;
  align-items: center;
  background: #fff;
  max-width: 500px;
  padding: 20px;
  border: solid 10px rgb(76, 76, 97);
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}
.frame-mgn {
  border: rgb(136, 133, 127) solid 1px;
  padding: 30px;
  box-shadow: inset 2px 2px 7px -2px rgba(85, 85, 39, 0.7);
}
.terr-title-text {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
}

.terr-title-text2 {
  font-weight: 400;
  font-size: 40px;
}

.w-comment {
  font-size: 23px;
}


.water-tracker-goal{
min-width: 600px;
background: #fff;
max-width: 500px;
padding: 20px;
border: solid 10px rgb(181, 196, 193);
box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
transition: 0.3s ease-in-out;
}



.water-tracker-total{
background: #fff;
max-width: 500px;
height: fit-content;
/* min-height: 400px; */
padding: 20px;
border: solid 10px rgb(150, 127, 39);
box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
transition: 0.3s ease-in-out;
}
.comment-l {
  font-size: 40px;
}
.comment-m {
  font-size: 30px;
}
.comment-s {
  font-size: 20px;
}

.water-tracker-streak{
  background: #fff;
  max-width: 500px;
  padding: 20px;
  margin-top: 40px;
  border: solid 10px rgb(196, 180, 151);
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}
.currentrank{
  font-weight: 600;
  font-size: 25px;
  margin-top: 15px;
}


.wt-terrarium-title:hover, .water-tracker-goal:hover, .water-tracker-total:hover, .water-tracker-streak:hover {
  transform: scale(1.04, 1.04);
  -moz-box-shadow: 5px 5px 5px rgb(74, 74, 100);
  -webkit-box-shadow: 5px 5px 5px rgb(78, 78, 104);
  box-shadow: 5px 5px 5px rgb(75, 75, 95);
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  cursor: pointer;
}
.num-ani {
  transform: rotate(360deg);
  font-weight: 600;
  font-size: 45px;
  margin: 6x;
  transition: 0.3s ease-in-out;
}

.num-ani:hover {
  color: rgb(6, 177, 111); 
}

.ranks {
  min-width: 400px;
  min-height: 78px;
}

.rankone {
  color: green;
}

.ranktwo {
  color: green;
}

.rankthree {
  color: green;
}

.rankfour {
  color: green;
}

.rankfive {
  color: green;
}

.rank-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.streak-levels {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  font-size: 25px;
  font-weight: 600;
}

.rank-level {
  margin-top: 15px;
}